RewriteEngine on

# This code settings removes any file with .php extension i.e www.example.com/index.php becomes
# www.example.com/index

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# This code settings removes the index.php name in the URL When the site first loads

Options +FollowSymLinks -MultiViews
RewriteBase  /

RewriteRule ^index.\.php/?$ / [L,R=301,NC]


# Redirect the user to 404 error page when the URI is invalid
ErrorDocument 404 https://lynxadmin.herokuapp.com/admin/errors/404.php

RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ https://lynxadmin.herokuapp.com/admin/errors/404.php [L]

ErrorDocument 400 https://lynxadmin.herokuapp.com/admin/errors/400.php

# Redirect the user to 400 error page when the URI is invalid

RewriteCond %{REQUEST_URI} ^/400/$
RewriteRule ^(.*)$ https://lynxadmin.herokuapp.com/admin/ [L]